[Desktop Entry]
Categories=Utility;System;
Comment=A tool to make boot disk for GXDE OS
Exec=gxde-boot-maker
GenericName=Boot Maker
Icon=gxde-boot-maker
Name=GXDE Boot Maker
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-GXDE-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[am]=Livecd boot maker for GXDE
Comment[am_ET]=የ boot ዲስክ መፍጠሪያ ለ ዲፕኢን OS
Comment[ar]= أداة لإنشاء قرص إقلاع لـ GXDE OS
Comment[ast]=Una ferramienta de GXDE pa facer discos d'arranque
Comment[bg]=Инструмент за правене на стартиращ диск за  GXDE OS
Comment[bn]=  ডিপিন ওস এর জন্য বুট ডিস্ক তৈরীর একটি টুল। 
Comment[ca]=Una eina per fer una mitjà d'arrencada per al GXDE OS
Comment[cs]=Nástroj na udělání spouštěcího disku pro GXDE OS
Comment[da]=Et værktøj til at oprette bootdisk til GXDE OS
Comment[de]=Ein Werkzeug zum Erstellen von Startmedien für GXDE OS
Comment[de_DE]=GXDE LiveCD Startmedium Ersteller
Comment[el]=Εργαλείο δημιουργίας εκκινήσιμων μονάδων GXDE OS
Comment[el_GR]=Δημιουργία εκκινήσιμων Live CD για το GXDE
Comment[es]=Una herramienta para hacer un disco de arranque para GXDE OS
Comment[es_419]=Una herramienta para hacer un disco de arranque para GXDE OS
Comment[es_AR]=Creador de discos booteables para GXDE
Comment[es_CL]=LiveCD editar arranque GXDE
Comment[es_ES]=Creador de Livecd de GXDE
Comment[fa]=نرم افزاری برای ساختن دیسک راه انداز سیستم عامل دیپین 
Comment[fi]=Yksinkertainen käynnistysmedian luontiohjelma GXDE-käyttöjärjestelmälle
Comment[fr]=Outil de gravure iso pour clé usb
Comment[gl_ES]=Ferramenta para crear discos de arranque para GXDE OS
Comment[hi_IN]=डीपिन OS के लिए बूट डिस्क बनाने हेतु साधन
Comment[hr]=Alat za izrađivanje medija za podizanje sustava za GXDE OS
Comment[hu]=Ez egy eszköz GXDE OS rendszerindító-lemez készítéséhez
Comment[id]=Sebuah alat untuk membuat boot disk bagi GXDE OS
Comment[id_ID]=Pembuat  CD But Langsung GXDE
Comment[it]=Un tool per creare una pendrive avviabile di GXDE OS
Comment[ja]=GXDE OSディスクの作成ツール
Comment[ko]=GXDE OS 용 부팅 디스크를 만드는 도구
Comment[lt]=Įrankis, skirtas sukurti GXDE OS paleidimo diską
Comment[ms]=Alat membuat cakera but untuk GXDE OS
Comment[nl]=Applicatie om een opstartschijf te maken voor GXDE OS
Comment[pl]=Narzędzie do tworzenia dysku rozruchowego GXDE OS
Comment[pl_PL]=Twórca płyty rozruchowej trybu live dla GXDE
Comment[pt]=Uma ferramenta que cria um disco de arranque para o SO GXDE
Comment[pt_BR]=Uma ferramenta para criar disco de boot para o GXDE OS
Comment[pt_PT]=Criador de Livecd de arranque para GXDE
Comment[ro]=Unealtă ce ajută la crearea mediilor de boot pentru GXDE OS 
Comment[ru]=Инструмент создания загрузочного диска для ОС GXDE
Comment[sk]=Nástroj na tvorbu boot disku pre GXDE OS
Comment[sl]=Orodje za izdelavo boot diska za operacijski sistem GXDE
Comment[sr]=Алат за прављење диска за покретање Дипин ОС-а
Comment[sr_RS]=Алатка за прављење бутабилног диска за Дипин ОС
Comment[tr]=GXDE İşletim Sistemi için ön yükleme diski oluşturma aracı
Comment[uk]=Інструмент для створення завантажувальних дисків для GXDE OS
Comment[zh_CN]=极星操作系统启动盘的制作工具
Comment[zh_HK]=為 GXDE 作業系統製作開機碟的工具
Comment[zh_TW]=用於製作 deepin 的開機磁碟
GenericName[it]=Boot Maker
GenericName[ru]=Создание Загрузочного Диска
GenericName[zh_CN]=启动盘制作工具
Name[af]=GXDE Selflaai Skepper
Name[am]=GXDE Boot መፍጠሪያ
Name[am_ET]=ዲፕኢን Boot መፍጠሪያ
Name[ar]=منشئ إقلاع ديبين
Name[ast]=GXDE Boot Maker
Name[bg]=GXDE Boot Maker
Name[bn]=ডিপিন বুট মেকার
Name[ca]=Creador de mitjans d'arrencada de GXDE
Name[cs]=Tvůrce spouštěcího média GXDE
Name[da]=GXDE bootskaber
Name[de]=GXDE Startmedium Ersteller
Name[de_DE]=GXDE Startmedium Ersteller
Name[el]=Δημιουργία Εκκινήσιμων Μονάδων GXDE
Name[el_GR]=GXDE Εγγραφή Εκκινήσιμων Μονάδων
Name[en_AU]=GXDE Boot Maker
Name[eo]=GXDE ekmarŝo faristo
Name[es]=Creador de arranque de GXDE
Name[es_419]=Boteador GXDE
Name[es_AR]=Creador de Booteo GXDE
Name[es_CL]=Administrar boot de GXDE
Name[es_ES]=Creador de Arranque de GXDE
Name[fa]=سازنده بوت لینوکس دیپین
Name[fi]=GXDE Boot Maker
Name[fr]=Utilitaire USB GXDE
Name[gl_ES]=Creador de arranque de GXDE
Name[he]=GXDE Boot Maker
Name[hi_IN]=डीपिन बूट निर्माता
Name[hr]=GXDE medij za podizanje sustava
Name[hu]=GXDE rendszerindító készítő
Name[hy]=GXDE Boot Ստեղծող
Name[id]=Pembuat Boot GXDE
Name[id_ID]=Pembuat But GXDE
Name[it]=GXDE Boot Maker
Name[ja]=GXDE ブートメーカー
Name[ko]=GXDE 부트 메이커
Name[lt]=GXDE paleidimo kūrėjas
Name[ms]=Pembina But GXDE
Name[nb]=GXDE Boot Maker
Name[nl]=GXDE Opstartmediummaker
Name[pam]=GXDE Boot Maker
Name[pl]=Twórca rozruchu GXDE
Name[pl_PL]=Twórca rozruchu GXDE
Name[pt]=GXDE Boot Maker
Name[pt_BR]=GXDE Boot Maker
Name[pt_PT]=GXDE Boot Maker
Name[ro]=GXDE Boot Maker
Name[ru]=Создание Загрузочного Диска GXDE
Name[sk]=GXDE Boot Maker
Name[sl]=Boot izdelovalec GXDE
Name[sr]=Дипинов Творац Покретача
Name[sr_RS]=Дипин Програм за прављење бутабилних медија
Name[sv]=GXDE Boot Skapare
Name[tr]=GXDE Ön Yükleme Oluşturucu
Name[uk]=Засіб створення дисків з GXDE
Name[vi]=GXDE Boot Maker
Name[zh_CN]=极星启动盘制作工具
Name[zh_HK]=GXDE 開機碟製作
Name[zh_TW]=GXDE 開機碟製作器

